'.source.js':
  'Sakha:React:Reducer':
    'prefix': 'duckcrudsimple'
    'description': 'CRUD Reducer for React Seeder. Use this when list and details are on 2 separate pages (or when there are no potential race conditions).'
    'leftLabelHTML': 'reducer-crud-simple'
    'rightLabelHTML': 'Seeder:Redux'
    'body': """
        const currentReducer = '${1:REDUCER_NAME}';

        export const GET_ALL_${2:ACTION}S_REQUESTED = `${currentReducer}/GET_ALL_${2:ACTION}S_REQUESTED`;
        export const GET_ALL_${2:ACTION}S_SUCCESS = `${currentReducer}/GET_ALL_${2:ACTION}S_SUCCESS`;
        export const GET_ALL_${2:ACTION}S_FAILURE = `${currentReducer}/GET_ALL_${2:ACTION}S_FAILURE`;

        export const ADD_${2:ACTION}_REQUESTED = `${currentReducer}/ADD_${2:ACTION}_REQUESTED`;
        export const ADD_${2:ACTION}_SUCCESS = `${currentReducer}/ADD_${2:ACTION}_SUCCESS`;
        export const ADD_${2:ACTION}_FAILURE = `${currentReducer}/ADD_${2:ACTION}_FAILURE`;

        export const GET_${2:ACTION}_REQUESTED = `${currentReducer}/GET_${2:ACTION}_REQUESTED`;
        export const GET_${2:ACTION}_SUCCESS = `${currentReducer}/GET_${2:ACTION}_SUCCESS`;
        export const GET_${2:ACTION}_FAILURE = `${currentReducer}/GET_${2:ACTION}_FAILURE`;

        export const PUT_${2:ACTION}_REQUESTED = `${currentReducer}/PUT_${2:ACTION}_REQUESTED`;
        export const PUT_${2:ACTION}_SUCCESS = `${currentReducer}/PUT_${2:ACTION}_SUCCESS`;
        export const PUT_${2:ACTION}_FAILURE = `${currentReducer}/PUT_${2:ACTION}_FAILURE`;

        export const DELETE_${2:ACTION}_REQUESTED = `${currentReducer}/DELETE_${2:ACTION}_REQUESTED`;
        export const DELETE_${2:ACTION}_SUCCESS = `${currentReducer}/DELETE_${2:ACTION}_SUCCESS`;
        export const DELETE_${2:ACTION}_FAILURE = `${currentReducer}/DELETE_${2:ACTION}_FAILURE`;

        const initialState = {
          loading: false,
          loaded: false,
          error: false,
          data: null,
          activeData: null
        };

        export default function(state = initialState, action) {
          switch (action.type) {
            case GET_ALL_${2:ACTION}S_REQUESTED:
              return {
                ...state,
                loading: true,
                loaded: false,
                error: false
              };
            }
            case GET_ALL_${2:ACTION}S_SUCCESS:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: false,
                data: action.payload
              };
            }
            case GET_ALL_${2:ACTION}S_FAILURE:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: true
              };
            }
            case GET_${2:ACTION}_REQUESTED:
              return {
                ...state,
                loading: true,
                loaded: false,
                error: false
              };
            }
            case GET_${2:ACTION}_SUCCESS:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: false,
                activeData: action.payload
              };
            }
            case GET_${2:ACTION}_FAILURE:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: true
              };
            }
            case PUT_${2:ACTION}_REQUESTED:
              return {
                ...state,
                loading: true,
                loaded: false,
                error: false
              };
            }
            case PUT_${2:ACTION}_SUCCESS:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: false
              };
            }
            case PUT_${2:ACTION}_FAILURE:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: true
              };
            }
            case DELETE_${2:ACTION}_REQUESTED:
              return {
                ...state,
                loading: true,
                loaded: false,
                error: false
              };
            }
            case DELETE_${2:ACTION}_SUCCESS:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: false
              };
            }
            case DELETE_${2:ACTION}_FAILURE:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: true
              };
            }
            case ADD_${2:ACTION}_REQUESTED:
              return {
                ...state,
                loading: true,
                loaded: false,
                error: false
              };
            }
            case ADD_${2:ACTION}_SUCCESS:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: false,
              };
            }
            case ADD_${2:ACTION}_FAILURE:
              return {
                ...state,
                loading: false,
                loaded: true,
                error: true
              };
            }
            default:
              return state;
          }
        }

        export const getAll${3:Action} = (pageNo, itemsPerPage) => {
          const headers = { has_auth_token: 1 };
          return {
            types: [GET_ALL_${2:ACTION}S_REQUESTED, GET_ALL_${2:ACTION}S_SUCCESS, GET_ALL_${2:ACTION}S_FAILURE],
            promise: client => client.get(`${4:API_METHOD_INVOCATION}?pageno=${pageNo}&itemsperpage=${itemsPerPage}`, {
              headers,
            })
          };
        };

        export const get${3:Action} = (id) => {
          const headers = { has_auth_token: 1 };
          return {
            types: [GET_${2:ACTION}_REQUESTED, GET_${2:ACTION}_SUCCESS, GET_${2:ACTION}_FAILURE],
            promise: client => client.get(`${5:API_METHOD_INVOCATION}?${7:EXPECTED_KEY}=${id}`, {
              headers,
            })
          };
        };

        export const put${3:Action} = (data) => {
          const headers = { has_auth_token: 1 };
          return {
            types: [PUT_${2:ACTION}_REQUESTED, PUT_${2:ACTION}_SUCCESS, PUT_${2:ACTION}_FAILURE],
            promise: client => client.put('${6:API_METHOD_INVOCATION}', {
              headers,
              data
            })
          };
        };

        export const delete${3:Action} = (data) => {
          const headers = { has_auth_token: 1 };
          return {
            types: [DELETE_${2:ACTION}_REQUESTED, DELETE_${2:ACTION}_SUCCESS, DELETE_${2:ACTION}_FAILURE],
            promise: client => client.del('${7:API_METHOD_INVOCATION}', {
              headers,
              data
            })
          };
        };

        export const add${3:Action} = (data) => {
          const headers = { has_auth_token: 1 };
          return {
            types: [ADD_${2:ACTION}_REQUESTED, ADD_${2:ACTION}_SUCCESS, ADD_${2:ACTION}_FAILURE],
            promise: client => client.post('${8:API_METHOD_INVOCATION}', {
              headers,
              data
            })
          };
        };
    """
