'.source.js':
  'Sakha:React:Reducer':
    'prefix': 'form'
    'description': 'Simple Redux-Form with basic dependencies imported'
    'leftLabelHTML': 'ReduxForm'
    'rightLabelHTML': 'Seeder:Redux'
    'body': """
        import React from 'react';
        import { reduxForm } from 'redux-form';
        import { required, number } from '../common/FormValidation';
        import Textfield from '../common/Textfield';


        const ${1:componentName} = (props) => {
          const {
            handleSubmit,
            loading
          } = props;

          return (
            <form onSubmit={handleSubmit}>

            </form>
          );
        };

        export default (reduxForm({
          form: '${2:formIdentifier}' // a unique identifier for this form
        })(${1:componentName}));

    """
